#page_login {
	overflow: hidden;
	text-align: center;
}

#page_login #login {
	float: left;
	width: 44%;
}

#page_login #register {
	float: right;
	width: 44%;
}

#page_login #register h1 {
	color: #A04500;
	font: bold 12pt Verdana, sans-serif;
}

#page_login #register h2 {
	font: bold 10pt Verdana, sans-serif;
}

#page_login hr {
	margin: 25px auto;
}

#page_login input[type="text"], #page_login input[type="password"] {
	font-style: italic;
}

#page_login p.loading {
	display: none;
}

#page_login p.loading img {
	margin: 0 auto;
}

#page_login p.message {
	color: #02A000;
	display: none;
	font: bold 10pt Verdana, sans-serif;
	text-decoration: underline;
}
