html {
	height: 100%;
	overflow-y: scroll;
}

body {
	background: #E6E6E6 url('../images/bg.png');
	height: 100%;
	margin: 0;
}

#content {
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	min-height: 100%;
}

#header {
	background: #79BBFF;
	background: linear-gradient( to bottom, #4197EE 28%, #79BBFF 72% );
	box-shadow: 0px 2px 3px 2px #B8B8B8;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	width: 85%;
}

#header img {
	height: 150px;
	margin: 0 auto;
	width: 500px;
}

#nav {
	background: #79BBFF;
	background: linear-gradient( to bottom, #79BBFF 5%, #4197EE 95% );
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 3px 3px 2px #B8B8B8;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 85%;
	z-index: 10;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#nav ul li a {
	box-shadow: inset 0px 1px 0px 0px #CAE3FC;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 15px/50px Arial, sans-serif;
	height: 50px;
	outline: #469DF5 solid 1px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0px #287ACE;
	width: 20%;
}

#nav ul li a:hover {
	background: #4197EE;
	background: linear-gradient( to top, #79BBFF 5%, #4197EE 95% );
}

#nav ul li:first-child a {
	border-bottom-left-radius: 20px;
}

#nav ul li:last-child a {
	border-bottom-right-radius: 20px;
}

#page {
	background-color: #F2FBF9;
	box-shadow: 0 0 3px 2px #B8B8B8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: -15px auto 0;
	padding: 35px 20px 20px;
	position: relative;
	width: 85%;
}

#page #start-intro {
	background-color: rgba(174, 255, 189, 0.6);
	border: 2px solid #000000;
	border-radius: 3px;
	box-shadow: 0 0 3px 2px #B8B8B8;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 25px auto;
	padding: 20px;
	width: 90%;
}

#page #start-intro h1 {
	font-size: 22pt;
}

#page #start-intro p {
	font-size: 14pt;
}

#page #new-recipes {
	margin: 15px auto;
	width: 90%;
}

#page div.module {
	border: 4px solid #929BC4;
	border-radius: 15px;
	box-shadow: 0 0 3px 2px #CCCCCC;
	margin: 10px;
	padding: 15px;
}

#page div.module h1.title {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-indent: 30px;
}

#page div.note {
	background-color: rgba(255, 170, 128, 0.6);
	border: 2px solid #000000;
	border-radius: 3px;
	box-shadow: 0 0 3px 2px #B8B8B8;
	font-family: Georgia, serif;
	font-size: 16pt;
	margin: 25px auto;
	padding: 10px 20px;
	text-align: center;
	width: 90%;
}

#page div.note a {
	color: #4132FF;
	font-weight: bold;
	text-decoration: none;
}

#page div.note a:hover {
	color: #0084FF;
}

#page div.note span {
	color: #070DFF;
	font-weight: bold;
}

#page form input[type="button"], #page form input[type="submit"] {
	background: #34B8D9;
	background: linear-gradient(to bottom, #34B8D9, #2C43B8);
	border-radius: 28px;
	color: #FFFFFF;
	font: 16px Georgia, serif;
	margin: 5px;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666666;
}

#page form input[type="button"]:hover, #page form input[type="submit"]:hover {
	background: #34D9A2;
	background-image: linear-gradient(to bottom, #34D9A2, #2BB874);
}

#page form input[type="text"], #page_login input[type="password"] {
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	color: #404040;
	height: 28px;
	outline: rgba(200, 105, 137, 0.09) solid 3px;
	padding: 0 10px;
	width: 75%;
}

#page form input[type="text"]:focus, #page_login input[type="password"]:focus {
	border-color: #6CCCFF;
	outline-color: rgba(149, 183, 255, 0.6);
}

#bottom-frame {
	background: linear-gradient( to bottom, #79BBFF 30%, #4197EE 70% );
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 2px 1px #B8B8B8;
	height: 15px;
	margin: 0 auto;
	width: 85%;
}

#push {
	height: 40px;
}

#footer {
	background-color: #808080;
	clear: both;
	color: #FFFFFF;
	font: 12px/30px Verdana, sans-serif;
	height: 30px;
	text-align: center;
	width: 100%;
}

#footer img {
	border: 0;
	height: 25px;
	vertical-align: middle;
	width: 72px;
}
