#page_listrecipes form {
	font: 15px Arial, sans-serif;
	margin: 10px 30px; 
}

#page_listrecipes form h1 {
	font: bold 22pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#page_listrecipes form table {
	border: 2px dashed #000000;
	text-align: center;
	width: 100%;
}

#page_listrecipes form table td {
	padding: 10px;
}

#page_listrecipes p.list-pages {
	font: 11pt Verdana, sans-serif;
	margin: 25px 30px;
	text-align: center;
}

#page_listrecipes p.list-pages a {
	border: 1px #0000DD solid;
	color: black;
	padding: 5px;
	text-decoration: none;
}

#page_listrecipes p.list-pages a:hover {
	background-color: rgba(103, 151, 254, 0.8);
}

#page_listrecipes p.list-pages span {
	font-weight: bold;
}

div.recipe {
	background-color: #F6FFD7;
	border: 4px dashed #000;
	border-radius: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12pt;
	margin: 20px auto;
	padding: 15px;
	position: relative;
	width: 85%;
}

div.recipe a.toggle-recipe {
	background: #34B8D9;
	background: linear-gradient(to bottom, #34B8D9, #2C43B8);
	border-radius: 28px;
	bottom: 15px;
	color: #FFFFFF;
	font: 16px Georgia, serif;
	padding: 10px 20px;
	position: absolute;
	right: 15px;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666666;
}

div.recipe a.toggle-recipe:hover {
	background: #34D9A2;
	background-image: linear-gradient(to bottom, #34D9A2, #2BB874);
}

div.recipe a.delete-recipe {
	height: 42px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 42px;
}

div.recipe h1 {
	color: #C62902;
	font-size: 16pt;
	font-weight: bold;
	line-height: 25px;
	margin: 10px auto;
}

div.recipe h2 {
	font: italic normal 14pt Georgia, serif;
	margin: 10px auto;
}

div.recipe p {
	margin: 10px auto;
}

div.recipe div.recipe-content {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 10px auto;
	padding: 10px;
}

div.recipe div.recipe-content h3 {
	font-style: italic;
}

div.recipe div.recipe-content ul {
	list-style-type: circle;
}

div.recipe img.voteup, div.recipe img.votedown  {
	cursor: pointer;
	height: 32px;
	vertical-align: -10px;
	width: 32px;
}

div.recipe img.voteup {
	margin-left: 10px;
}

div.recipe img.voteup:hover, div.recipe img.votedown:hover {
	box-shadow: 0 1px 3px 2px #B8B8B8;
}