#page_upload form {
	font: 15px Arial, sans-serif;
	padding: 10px 30px; 
}

#page_upload form h1 {
	font: bold 22pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#page_upload form p {
	margin: 20px auto;
}

#page_upload input[type="button"] {
	font-size: 14px;
	padding: 8px 16px;
}

#page_upload div#ingredientes, #page_upload div#pasos {
	background-color: rgba(154, 255, 203, 0.72);
	border: 3px dotted #000000;
	box-shadow: 0 1px 3px 2px #B8B8B8;
	margin: 10px auto;
	padding: 15px;
	width: 90%;
}

#page_upload div#ingredientes input[type="button"],
#page_upload div#pasos input[type="button"] {
	background: url('../images/delete.gif');
	border: none;
	border-radius: 0;
	height: 32px;
	margin: 0 0 0 15px;
	padding: 0;
	width: 32px;
}

#page_upload div#ingredientes input[type="button"]:hover,
#page_upload div#pasos input[type="button"]:hover {
	box-shadow: 0 1px 3px 2px #B8B8B8;
}

#page_upload p.center {
	text-align: center;
}

#page_upload p.loading {
	display: none;
}

#page_upload p.loading img {
	margin: 0 auto;
}

#page_upload p.message {
	color: #02A000;
	display: none;
	font: bold 10pt Verdana, sans-serif;
	text-decoration: underline;
}

#page_upload span#dificultad {
	display: inline-block;
	margin: 0 35px 0 15px;
	width: 200px 
}

#page_upload span#dificultadText {
	font-weight: bold;
}

#page_upload span.ui-spinner {
	width: 50px
}